<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="LUMT">
<meta itemprop="description" content="Blog posts, various list, and a list of useful Minecraft tools">
<meta itemprop="image" content="https://raw.githubusercontent.com/Queizen30/lumt/main/logo.jpeg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://lumt.qu30.qzz.io">
<meta property="og:type" content="website">
<meta property="og:title" content="LUMT">
<meta property="og:description" content="Blog posts, various list, and a list of useful Minecraft tools">
<meta property="og:image" content="https://raw.githubusercontent.com/Queizen30/lumt/main/logo.jpeg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Free for Developers">
<meta name="twitter:description" content="Blog posts, various list, and a list of useful Minecraft tools">
<meta name="twitter:image" content="https://raw.githubusercontent.com/Queizen30/lumt/main/logo.jpeg">

<!-- Favicon -->
<link rel="icon" href="logo.jpeg" type="image/">