<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="LUMT | List of useful Minecraft tools">
<meta itemprop="description" content="Blog posts, various list, and a list of useful Minecraft tools">
<meta itemprop="image" content="https://raw.githubusercontent.com/Queizen30/lumt/main/assets/media/logo-social.webp">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://lumt.qu30.qzz.io">
<meta property="og:type" content="website">
<meta property="og:title" content="LUMT | List of useful Minecraft tools">
<meta property="og:description" content="Blog posts, various list, and a list of useful Minecraft tools">
<meta property="og:image" content="https://raw.githubusercontent.com/Queizen30/lumt/main/assets/media/logo-social.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="LUMT | List of useful Minecraft tools">
<meta name="twitter:description" content="Blog posts, various list, and a list of useful Minecraft tools">
<meta name="twitter:creator" content="@Queizen30">
<meta name="twitter:site" content="@Queizen30">
<meta name="twitter:image"
    content="https://raw.githubusercontent.com/Queizen30/lumt/main/assets/media/logo-social.webp">

<!-- Favicon -->
<link rel="icon" href="https://raw.githubusercontent.com/Queizen30/lumt/main/assets/media/logo-social.webp"
    type="image/gif">