name: Deploy static content to Pages

on:
  push:
    branches: ["main"] # Change this to your default branch
    paths:
      - '_site/**'

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # If you need to build your site first (e.g., Jekyll, Hugo, etc.), 
      # add those build steps here before uploading.

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # This is where you specify your directory
          path: './_site/'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
